{% extends "cryptocons/base.html"%}
{%load static%}
{%load crispy_forms_tags%}
{%block content%}
<style>
    body {
      background-image: url('../static/images/craiclounge.jpeg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: top;
      background-attachment: fixed;
    }

    .navbar {
      background-color: rgba(55, 63, 56, 0); /* Set the background color with an alpha value for opacity */
      background-color: rgba(0, 0, 0, 0);
		  opacity: 1;
    }
</style>
<head>
  <meta charset="UTF-8">
  <title>Craic Lounge</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

	<div class="links-container">
		<a href="{% url 'login_url' %}">Sign In</a>
		<a href="{% url 'leaderboard' %}">Leaderboard</a>
  	</div>
</body>

{%endblock content%}



