{% extends "cryptocons/base.html"%}
from accounts.urls import register_url
{%block content%}
<div class="content-section">
    <h3>Welcome to CryptoChauns</h3> 
            <p class='text-muted'>NFT marketplace link potentially 
            </p>
                    <ul class="list-group">
                        <a class="nav-item nav-link" href="{% url 'register_url' %}">Sign Up</a>
                        <a class="nav-item nav-link" href="{% url 'craic_lounge' %}"> CraicLounge</a>
                        

                            <!-- <a class="nav-item nav-link" href="craiclounge/">CrackLounge</a> -->

 
                    </ul> 
            </p>
    </div>
    <div class = "border-top top-3">
        <small class = "text-muted">
            Already have an account ? <a class="ml-2" href="{% url 'login_url' %}"> Login</a>
        </small>
    </div>
{%endblock content%}