{%extends "cryptocons/base.html"%}

{% load crispy_forms_tags%}
{%load static%}

{%block content%}
<style>
    body {
        background-image: url('../static/images/cryptochauns_logo.jpeg');
        background-repeat: repeat;
    }
    
    .bg-rich-brown {
        background-color: white;
        border-color: black;
    }
    
    .border-thick {
        border-width: 5px;
    }

    /* Custom styles for the Login button */
    .btn-login {
        background-color: green;
        border-color: green;
        color: white;
        transition: background-color 0.3s ease-in-out;
    }

    .btn-login:hover {
      background-color: green; /* Change the background color on hover */
      border-color: black;
    }

    .btn-link {
        color: green;
    }

    .btn-link:hover {
        color:green;
    }

    .divo:after {
      opacity: 0.5;
    }
</style>

	<div class = "content-section">
		<form method="POST">

			{% csrf_token%}
			<fieldset class="form-group">
				<legend class = "border-bottom mb-4">Log-In</legend>
					{{ form|crispy }} 
			</fieldset>
			<div class = "form-group">
				<button class="btn btn-outline-info" type = "submit"> Login </button>

			<div class = "border-top top-3">
				<small class = "text-muted">
					Need an account ? <a class="ml-2"  href="{% url 'register_url'%"> Sign Up</a>
				</small>
			</div>



			</div>

		</form>
	</div>
{%endblock%}
