{% extends 'cryptocons/base.html'%}
{% load crispy_forms_tags%}

{%block content%}

<!DOCTYPE html>
<html>
<head>
	<title>User Profile Page</title>
	<style>
		body {
			font-family: Arial, sans-serif;
		}
		h1 {
			font-size: 36px;
			margin-top: 50px;
			margin-bottom: 20px;
		}
		img {
			max-width: 200px;
			border-radius: 50%;
			margin-bottom: 20px;
		}
		p {
			font-size: 18px;
			line-height: 1.5;
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
    <img src="https://via.placeholder.com/200x200" alt="Profile Picture">
    <h1>{{ profile_info.username }}</h1>
    <p><strong>Email:</strong> {{ profile_info.email }}</p>
    <p><strong>Account Created:</strong> {{ profile_info.date_joined }}</p>
    <p><strong>Last Login:</strong> {{ profile_info.last_login }}</p>


	{% if cards %}
  <h2>Cards ({{ profile_info.card_count }})</h2>
  <ul>
    {% for card in cards %}
      <li>
        <img src="{{ card.image_location.url }}" alt="{{ card.card_name }}">
        <p>{{ card.card_name }}</p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No cards found.</p>
{% endif %}
</div>


<a class="ml-2" href="{% url 'leaderboard' %}"> Leaderboard</a>

{%endblock%}