{% extends "cryptocons/base.html" %}
{% load crispy_forms_tags %}
{%load static%}
{% block content %}
<style>
    body {
      background-image: url('../static/images/cryptochauns_logo.jpeg');
      background-repeat: repeat;
    }

      /* Custom styles for form text */
    label, small, legend {
      color: white;
    }

</style>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <form method="POST" style="width: 60%; margin: 0 auto;">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Register A New Cryptochauns Account</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Sign Up</button>
          <div class="border-top top-3">
            <small>
              Already have an account? <a class="ml-2" href="{% url 'login_url' %}">Log in</a>
            </small>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
