{%extends "accounts/base.html" %}
{% load crispy_forms_tags%}

{%block content%}
<div>class = "content-section</div>
		<form method="POST">

			{% csrf_token%}
			<fieldset class="form-group">
				<legend class = "border-bottom mb-4">Business Registration</legend>
					{{ businessform|crispy }} 
			</fieldset>

			<div class = "form-group">
				<button class="btn btn-outline-info" type = "submit"> Register Business </button>

			<div class = "border-top top-3">
				<small class = "text-muted">
					Business already registered ? <a class="ml-2"  href="#"></a>
				</small>
			</div>



			</div>

		</form>
	</div>

{%endblock content%}
