{% extends "accounts/base.html"%}
from accounts.urls import register_url
{%block content%}
<div class="content-section">
    <h3>Welcome to Growth Street</h3> 
            <p class='text-muted'>Sign up today and apply for a business loan
            </p>
                    <ul class="list-group">
                        <a class="nav-item nav-link" href="craiclounge/register/">Sign Up</a>
                        <a class="nav-item nav-link" href="craiclounge/"> CraicLounge</a>

                            <!-- <a class="nav-item nav-link" href="craiclounge/">CrackLounge</a> -->

 
                    </ul> 
            </p>
    </div>
    <div class = "border-top top-3">
        <small class = "text-muted">
            Already have an account ? <a class="ml-2" href="{% url 'login_url' %}"> Login</a>
        </small>
    </div>
{%endblock content%}